<%- include('../header.ejs') %>

<!DOCTYPE html>
<body>
    <div class="sidenav navbar">
        <a href="/orders/add">Add order</a>
        <a href="/admin/users">users</a>
        <a href="/admin/machines">Machines</a>
        <a href="/admin/reps">Reps</a>
        <a href="#">Logs</a>
        <a href="#">analytics</a>
        <a href="#">changelog</a>
    </div>
</body>
</html>