<%- include('../header.ejs') %>

<!DOCTYPE html>
<body>
    <div class="sidenav navbar" >
        <a href="/stores/search">Short</a>
        <a href="/stores/stock-out">Stock out</a>
    </div>
</body>
</html>