<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>T manager</title>
  <link href="/style.css" rel="stylesheet" />
  <style>
    <% if (darkmode) {
      %><%# DARK MODE %>:root {
        --body-background-color: #222;
        --body-text-color: white;
        --body-background-image: none;

        --navbar-background-color: #333;
        --navbar-box-shadow: 0px 0px 14px 0px #333;
        --navbar-border: 4px solid #222;
        --navbar-background-image: none;
        --navbar-a-color: white;
        --navbar-hover: #555;

        --logo-url: url(/img/logo-dark.png);
        --dark-light-mode-svg: url(/img/sun.svg);

        --mybox-background: #444;

        --th-color: white;
        --nth-child-1: #555;
        --nth-child-2: #666;
        --tr-hover: #111;
        --textarea-background-color: #555;
        --textarea-color: white;
      }

      <%
    }

    else {
      %>:root {
        --body-background-color: none;
        --body-text-color: none;
        --body-background-image: linear-gradient(to right, lightblue, lightgrey);

        --navbar-background-color: white;
        --navbar-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
        --navbar-border: 4px solid #a2a2a2;
        --navbar-background-image: linear-gradient(to right, white, lightgrey);
        --navbar-a-color: #34495e;
        --navbar-hover: rgba(0, 0, 0, 0.2);

        --logo-url: url(/img/logo-light.png);
        --dark-light-mode-svg: url(/img/moon.svg);

        --mybox-background: #e6e6e6;
        ;

        --th-color: white;
        --nth-child-1: #eee;
        --nth-child-2: rgb(241, 215, 198);
        --tr-hover: blue;
        --textarea-background-color: none;
        --textarea-color: none;
      }

      <%
    }

    %>
  </style>

</head>


<body>

  <nav class="navbar">
    <div class="navbarLogo"></div>
    <form method='post' action='/darkmode'>
      <button type="submit" name="dark-light-mode" title="toggle dark/light mode" class="dark-light-mode"></button>
    </form>
    <div class="navbarLinks">
      <ul>
        <%if (session.userName) { %>
        <p>Welcome <%=session.userName%> </p>
        <%	} %>
        <li><a href="/stores/search">Stores</a></li>
        <li><a href="/ink">Ink</a></li>
        <li><a href="/production">Production</a></li>
        <li><a href="/samples">Samples</a></li>
        <li><a href="/orders/search">Orders</a></li>


        <%if(session.userLevel == "admin"){ %>
        <li><a href="/orders/add">admin</a></li>
        <%}%>

			</ul>
		</div>


    <%if (session.userName) {%>

        <li><a href="/logout">Logout</a>
          <a href="/user">User</a>
        </li>

    <%}else {%>

        <div class="navbarLogin">
          <form method='post' action='/login'>
            <input id="user" type="text" name="user" autocomplete="off" size="10" placeholder="User name" />
            <input type="password" name="password" autocomplete="off" size="10" placeholder="Password" />
            <input type="submit" name="login" value="Login">
          </form>
        </div>

    <%}%>


	</nav>

	<script>

	</script>
</body>

</html>