section {
  margin: 0;
  padding: 0;
}
div {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
img {
  height: 200px;
}
.printData * {
  padding: 0;
  margin: 0;
}
