:root {
    --body-background-color: none;
    --body-text-color: none;
    --body-background-image: linear-gradient(to right, lightblue, lightgrey);

    --navbar-background-color: white;
    --navbar-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    --navbar-border: 4px solid #a2a2a2;
    --navbar-background-image: linear-gradient(
        to right,
        white,
        rgb(158, 158, 189)
    );
    --navbar-a-color: #34495e;
    --navbar-hover: rgba(0, 0, 0, 0.2);
    --navbar-width: 400px;

    /* --logo-url: url(/img/logo-light.png); */
    /* --dark-light-mode-svg: url(/img/moon.svg); */

    --box-background: #e6e6e6;

    --th-color: white;
    --nth-child-1: #eee;
    --nth-child-2: rgb(241, 215, 198);
    --tr-hover-color: white;
    --tr-hover-background: lightgrey;
    --textarea-background-color: none;
    --textarea-color: none;
}

body {
    font-family: "Monospace";
    line-height: 1.6;
    margin: 0;
    padding: 0;
    padding-bottom: 5em;
    background-image: var(--body-background-image);
    background-color: var(--body-background-color);
    color: var(--body-text-color);
    display: grid;
    grid-template-columns: var(--navbar-width) 1fr;
    min-height: 100vh;
}
body > * {
    /* margin-left: 600px; */
    grid-column: 2 /3;
    grid-row: 1 /2;
    margin-left: 0;
    /* place-content: center; */
    /* place-items: center; */
}
h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}

/* -------------------NAVBAR------------------------------*/
.navbar-top,
.navbar-bottom {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 50%;
    width: var(--navbar-width);
    border-right: 2px solid black;
    grid-column: 1 /2;
    /* overflow: hidden; */
    /* background-color: red; */
    background: var(--navbar-background-image);
}
.navbar-top {
    top: 0;
}
.navbar-bottom {
    bottom: 0;
}
.navbar-bottom::before,
.linkList::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: black;
}

.navbar-top ul {
    margin: 0;
    padding: 0;
}

.navbar-top li {
    list-style: none;
}

.navbar-top li a,
button {
    all: unset;
    text-decoration: none;
    text-align: center;
    color: var(--navbar-a-color);
    padding-block: 1rem;
    display: block;
    transition: all 500ms;
    border-radius: 30px;
    margin-inline: auto;
    width: var(--navbar-width);

    cursor: pointer;
    user-select: none;
}

.navbar-top a:hover,
button:hover {
    background-color: var(--navbar-hover);
}

.error {
    margin-top: auto;
    margin-bottom: 1rem;
}

/* ==========table========================= */
table {
    border-collapse: collapse;
    margin-inline: 2px;
    height: fit-content;
}

th {
    color: var(--th-color);
    background-color: #111;
    position: sticky;
    top: 0;
}
td {
    border: 1px solid black;
    text-align: center;
    /* width: 50px; */
    /* min-width: 100px; */
    /* height: 10px; */
}
td:nth-child(5) {
    /* background-color: red; */
    width: 50px;
}
td:nth-child(1) {
    /* background-color: red; */
    width: 50px;
}
td img {
    vertical-align: middle;
}
tr:nth-child(even) {
    background-color: var(--nth-child-1);
}

tr:nth-child(odd) {
    background-color: var(--nth-child-2);
}

tr:hover {
    cursor: pointer;
    color: var(--tr-hover-color);
    background-color: var(--tr-hover-background);
}
/* ====================================================== */
.error {
    color: red;
}

.animate,
.fadeIn {
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.box {
    width: fit-content;
    height: auto;
    background: var(--box-background);
    box-shadow: 0 0 40px -10px #000;
    margin: auto;
    font-family: "Montserrat", sans-serif;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 25px;
    position: relative;
    animation: fadeIn 2s;
    margin-block: auto;
}
.imageButton {
    all: unset;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 28px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border: none;
}
.imageButton:hover {
    scale: 1.5;
}

.imageWrapper {
    display: flex;
    height: 80%;
    position: relative;
}

.sample__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 80%;
    font-size: large;
    width: 80%;
}

.sample_show_imageWrapper {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    justify-content: center;
    margin: 0;
    object-fit: scale-down;
    max-width: 600px;
    min-width: 300px;
    min-height: 300px;
    margin: auto;
}

.sample_show_titleBar {
    grid-column: 1 / -1;
    grid-row: 1;
    display: flex;
    justify-content: space-around;
    width: inherit;
    margin-bottom: 2rem;
}
.sample_show_titleBar * {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.sample__add__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}
.sample__add__form > div {
    padding: 2rem;
    text-align: center;
}
.sample__add__form button {
    transform: translateX(60%);
}

.wide-center {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.linkList > li {
    margin: 1rem;
}
input[type="text"],
input[type="password"],
input[type="search"] {
    border-radius: 5px;
    border-width: thin;
    margin-block: 1rem;
    text-align: center;
}
input[type="search"] {
    width: 80%;
}
